/*
    white:      #eeeeee
    green:      #32e0c4
    gray:       #393e46
    dark gray:  #222831
*/

body {
    font-family: 'Ubuntu', sans-serif;
    background: #222831;
    color: #eeeeee;
    overflow-x: hidden;
}

.h1{
    font-size: 2rem;
}

.btn{
    width: 6em;
}

.btn-success {
    font-weight: 600;
    background: #32e0c4;
    color: #393e46;
}
    .btn-success:hover {
        background: #2AAF99;
        color: #393e46;
    }

.btn-outline-success {
    color: #32e0c4;
    border-color: #32e0c4;
}
    .btn-outline-success:hover {
        background-color: #32e0c4;
        color: #222831;
        border-color: #32e0c4;
    }

.btn-primary {
    font-weight: 600;
    background: #32DDE0;
    border-color: #32DDE0;
    color: #222831;
}

    .btn-primary:hover {
        background: #2DC4C6;
        border-color: #32DDE0;
        color: #222831;
    }

.btn-outline-primary {
    color: #2DC4C6;
    border-color: #2DC4C6;
}

    .btn-outline-primary:hover {
        background-color: #2DC4C6;
        color: #222831;
        border-color: #2DC4C6;
    }

.btn-nav{
    width: auto;
    background-color: transparent;
    border: none;
}

.card-min-cards {
    min-width: 17rem;
    max-width: 30.5%;
}
.img-profile {
    height: 20em;
    width: auto;
    max-width: 100%;
}

.ctainer{
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 768px){
    .ctainer{
        max-width: 75%;
    }
}

.thm-white {
    background: #eeeeee;
    color: #222831;
}

.thm-green {
    background: #32e0c4;
    color: #eeeeee;
}

.thm-gray {
    background: #393e46;
    color: #eeeeee;
}

.thm-darkgray {
    background: #222831;
    color: #eeeeee;
}

.clr-white {
    color: #eeeeee;
}
    .clr-white:hover {
        color: #32e0c4;
    }

.clr-green {
    color: #32e0c4;
}

.clr-gray {
    color: #393e46;
}

.clr-darkgray {
    color: #222831;
}


.bkg-white {
    background: #eeeeee;
}

.bkg-green {
    background: #32e0c4;
}

.bkg-gray {
    background: #393e46;
}

.bkg-darkgray {
    background: #222831;
}
